/* Variables */

:root {
  --white: #FFFFFF;
  --main-gray: #888888;
  --gray: #EEEEEE;
  --black: #000000;
  --for-paragraph: #283136;
  --for-footer: #444444;
  --for-address: #666666;
  --red: #FB565A;
  --green: #00CA74;
  --yellow: #EFC849;
}
/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
}
/* index */
.main-header,
.slides {
  background-color: var(--gray);
}
.main-navigation
 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
 }
.main-navigation a {
  text-decoration: none;
}
.site-navigation {
  list-style: none;
}
.site-navigation a,
.basket-link a
{
  color: var(--black);
}
/*.site-navigation a:focus,
.basket-link a:focus {
  color: var(--gray);
}
.site-navigation a:hover,
.basket-link a:hover {
  color: var(--red);
}*/
.slides-list {
  list-style: none;
}
.slide-item h2 {
  font-size: 55px;
  line-height: 55px;
}
.slide-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--for-paragraph);
}
.slide-button {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--red);
}
.services-list {
  list-style: none;
}
.service-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.service-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--for-paragraph);
}
.services-list li:nth-child(1) > a {
  background-color: var(--red);
}
.services-list li:nth-child(2) > a {
  background-color: var(--green);
}
.services-list li:nth-child(3) > a {
  background-color: var(--yellow);
}
.service-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
 }
.about-company h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--black);
}
.about-company p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--for-paragraph);
}
.about-company-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--for-paragraph);
}
.about-company li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--for-paragraph);
  list-style: none;
}
.about-company dt {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--black);
}
.about-company dd {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--for-paragraph);
}
.about-company span {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: var(--black);
}
.customers-list {
  list-style: none;
}
.address p:first-child {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
  text-transform: uppercase;
}
.address p:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--for-address);
}
.contacts-phone {
  text-decoration: none;
  color: var(--for-address);
}
.contacts-button {
  background-color: var(--red);
  color: var(--white);
  text-decoration: none;
}
.footer-social li {
  list-style: none;
}
.social-slogan p:first-child {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--black);
}
.social-slogan p:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--for-footer);
}
/* catalog */

.filters legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}
.filter-cost {
  background: var(--gray);
  border: none;
}
.filter-cost label {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--for-paragraph);
}
.filter-grid,
.features {
  border: none;
}
.radio-list,
.features-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--for-paragraph);
  list-style: none;
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--gray);
}
.sorting p {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}
.sort-list,
.sort-arrows {
  list-style: none;
}
.sorting a {
  text-decoration: none;
}
.sort-list a,
.sort-arrows a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
}
.templates-list {
  list-style: none;
}
.templates a {
  text-decoration: none;
  color: var(--black);
}
.templates h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.popup-window {
  background-color: var(--gray);
}
.popup-window a:nth-child(3)  {
  color: var(--white);
}
.popup-button {
  background-color: var(--red);
}
.templates-navigation-list {
  list-style: none;
}
.templates-navigation a {
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.templates-navigation-list  li:first-child {
  border: 3px solid #DBDBDB;
}
.templates-navigation-list  li:nth-child(2),
.templates-navigation-list  li:nth-child(3),
.templates-navigation-list  li:nth-child(4)  {
  background-color: var(--gray);
}



















