/* Variables */

:root {
  --white: #FFFFFF;
  --main-gray: #888888;
  --gray: #EEEEEE;
  --black: #000000;
  --for-paragraph: #283136;
  --for-footer: #444444;
  --for-address: #666666;
  --red: #FB565A;
  --red-button-hover: #E74246;
  --red-button-active: #D7373B;
  --green: #00CA74;
  --green-button-hover: #00BC6C;
  --green-button-active: #00AA62;
  --yellow: #EFC849;
  --yellow-button-hover: #EAB534;
  --yellow-button-active: #E5A722;
}
/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */
.page {
  height: 100%;
}

/* index */
.main-header {
  background-color: var(--gray);
}
.navigation-section {
  width: 1160px;
  margin: 0 auto;
}
.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  padding: 0 10px;
  min-height: 65px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
 }
.main-navigation a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.main-header-logo-catalog:hover,
.main-header-logo-catalog:focus {
  opacity: 0.7;
}
.main-header-logo-catalog:active {
  opacity: 0.3;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 437px;
  margin-left: 211px;
}
.site-navigation a:hover,
.site-navigation a:focus,
.basket-link a:hover,
.basket-link a:focus {
  color: var(--red);
}
.site-navigation a:active,
.basket-link a:active {
  color: var(--black);
  opacity: 0.3;
}
.basket-link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 115px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 17px;
  left: -15px;
  width: 15px;
  height: 15px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.basket-link .basket {
  position: relative;
}
.site-navigation a,
.basket-link a
{
  color: var(--black);
  display: block;
  padding: 10px 15px;
}
.slides {
  background-color: var(--gray);
  margin-bottom: 80px;
  padding: 0 10px;
}
.center-slides {
  width: 1160px;
  min-height: 431px;
  margin: 0 auto;
}
.slides-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slides-list .slide-item:nth-child(1) {
  background-image: url(../img/sliders/nerds-index-slide1.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 65%;
}
.slides-list .slide-item:nth-child(2) {
  background-image: url(../img/sliders/nerds-index-slide2.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 65%;
}
.slides-list .slide-item:nth-child(3) {
  background-image: url(../img/sliders/nerds-index-slide3.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 65%;
}
.slide-button {
  padding: 17px 54px 15px 54px;
}
.sliders-flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100px;
}
.sliders-buttons {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 600px;
}
.slide-item {
  position: relative;
  padding-bottom: 101px;
}
.sliders-buttons li::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 1270px;
  border-radius: 50%;
  background-color: var(--white);
}
.slide-item a:hover,
.slide-item a:focus {
  background-color: var(--red-button-hover);
}
.slide-item a:active {
  background-color: var(--red-button-active);
}
.slide-item h2 {
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  padding: 0;
  padding-top: 78px;
  margin-bottom: 37px;
}
.slide-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--for-paragraph);
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}
.slide-button {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--red);
}
.services {
  width: 1100px;
  padding: 0px 10px;
  min-height: 347px;
  margin: 0 auto;
  margin-bottom: 121px;
}
.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}
.services-list .service-item:nth-child(1) {
  background-image: url(../img/section1/illustration-1.jpg);
  background-size: 300px 146px;
  background-repeat: no-repeat;
  background-position: top left;
}
.services-list .service-item:nth-child(2) {
  background-image: url(../img/section1/illustration-2.jpg);
  background-size: 300px 146px;
  background-repeat: no-repeat;
  background-position: top left;
}
.services-list .service-item:nth-child(3) {
  background-image: url(../img/section1/illustration-3.jpg);
  background-size: 300px 146px;
  background-repeat: no-repeat;
  background-position: top left;
}
.service-item {
  padding-top: 171px; 
}
.service-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
.service-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--for-paragraph);
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
.services-list li:nth-child(1) > a {
  background-color: var(--red);
}
.services-list li:nth-child(2) > a {
  background-color: var(--green);
}
.services-list li:nth-child(3) > a {
  background-color: var(--yellow);
}
.services-list li:nth-child(1) > a:hover,
.services-list li:nth-child(1) > a:focus {
  background-color: var(--red-button-hover);
}
.services-list li:nth-child(1) > a:active {
  background-color: var(--red-button-active);
}
.services-list li:nth-child(2) > a:hover,
.services-list li:nth-child(2) > a:focus {
  background-color: var(--green-button-hover);
}
.services-list li:nth-child(2) > a:active {
  background-color: var(--green-button-active);
}
.services-list li:nth-child(3) > a:hover,
.services-list li:nth-child(3) > a:focus {
  background-color: var(--yellow-button-hover);
}
.services-list li:nth-child(3) > a:active {
  background-color: var(--yellow-button-active);
}
.service-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  padding: 17px 40px 15px 39px;
}
.about-company::before {
  content: "";
  position: absolute;
  top: -39px;
  width: 1158px;
  height: 2px;
  background-color: var(--gray);
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: 0 auto;
}
.about-company {
  width: 1174px;
  min-height: 413px;
  padding: 0 10px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--for-paragraph);
  margin-bottom: 75px;
  position: relative;
}
.about-company-flex {
  display: flex;
  flex-wrap: wrap;
}
.about-company-list {
  margin: 0;
  padding: 0;
}
.about-company-illustration {
  width: 360px;
  margin-left: 149px;
}
.about-company-illustration img {
  margin-bottom: 37px;
}
.about-company-flex-container {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-company-text h3 {
  width: 651px;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--black);
}
.about-company-text p {
  margin-bottom: 40px;
}
.about-company-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--for-paragraph);
  margin: 0;
}
.about-company-illustration .about-company-subtitle {
  margin-bottom: 31px;
}
.about-company-text .about-company-subtitle {
  margin-bottom: 23px;
}
.about-company li {
  list-style: none;
  position: relative;
  padding-bottom: 40px;
}
.about-company-list {
  margin-left: 30px;
}
.about-company-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  top: 10px;
  left: -35px;
  height: 2px;
  background-color: var(--red);
}
.about-company dt {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--black);
  position: relative;
}
.about-company dd {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--for-paragraph);
  margin: 0;
}
.about-company span {
  position: absolute;
  top: 5px;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: var(--black);
}
.customers::before {
  content: "";
  position: absolute;
  top: -46px;
  width: 1158px;
  height: 2px;
  background-color: var(--gray);
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: 0 auto;
}
.customers::after {
  content: "";
  position: absolute;
  top: 134px;
  width: 1158px;
  height: 2px;
  background-color: var(--gray);
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: 0 auto;
}
.customers {
  width: 1159px;
  min-height: 184px;
  margin: 0 auto;
  position: relative;
}
.customers-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.customer-item img {
  opacity: 0.3;
}
.customer-item:hover img,
.customer-item:focus img {
  opacity: 1;
}
.customer-item:active img {
  opacity: 0.1;
}
.customer-item {
  padding: 0 10px;
}
.customer-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -35px;
  width: 2px;
  height: 52px;
  background-color: var(--gray);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.customer-item:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 253px;
  width: 2px;
  height: 52px;
  background-color: var(--gray);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.customer-item:nth-child(2) {
  position: relative;
}
.customer-item:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 240px;
  width: 2px;
  height: 52px;
  background-color: var(--gray);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.customer-item:nth-child(3) {
  position: relative;
}
.contacts {
  width: 1440px;
  min-height: 416px;
  margin: 0 auto;
  margin-bottom: 68px;
  position: relative;
}
.address {
  position: absolute;
  top: 54px;
  left: 140px;
  background-color: var(--white);
  padding: 49px 39px 47px 50px;
}
.address p:first-child {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 23px;
}
.address p:nth-child(2) {
  margin-bottom: 17px;
}
.address p:nth-child(3) {
  margin-bottom: 37px;
}
.address p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--for-address);
  margin: 0;
  padding: 0;
}
.contacts-phone {
  text-decoration: none;
  color: var(--for-address);
}
.contacts-button {
  background-color: var(--red);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  padding: 17px 44px 15px 44px;
}
.main-footer {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 1060px;
  min-height: 81px;
  margin: 0 auto;
  margin-bottom: 68px;
}
.social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.social-button svg {
  fill:#E1E1E1;
}
.social-button:hover svg,
.social-button:focus svg {
  fill: var(--red-button-hover);
}
.social-button:active svg {
  fill: var(--red-button-active);
}
.footer-social li {
  list-style: none;
}
.social-slogan {
  margin-left: 139px;
}
.social-slogan p:first-child {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--black);
  margin: 0;
  margin-bottom: 10px;
}
.social-slogan p:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--for-footer);
  margin: 0;
}

/* catalog */



.main-title-catalog {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--black);
  width: 727px;
  margin: 0 auto;
  padding-top: 87px;
  padding-bottom: 108px;
}
.title-container {
  background-color: var(--gray);
  margin-bottom: 55px;
}
.catalog-main-grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 1160px;
  margin: 0 auto;
}
.filter-container {
  margin-right: 140px;
}
.filter-cost {
  margin: 0;
  padding: 0;
  width: 260px;
}
.filters legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}
.filter-cost {
  background: var(--gray);
  border: none;
}
.filter-cost label {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--for-paragraph);
}
.filter-grid,
.features {
  border: none;
}
.radio-list,
.features-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--for-paragraph);
  list-style: none;
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--gray);
}
.sorting p {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}
.sort-list,
.sort-arrows {
  list-style: none;
}
.sorting a {
  text-decoration: none;
}
.sort-list a,
.sort-arrows a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
}
.templates-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.template-item {
  width: 359px;
  margin-bottom: 32px;
  margin-right: 42px;
}
.popup-window {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 359px;
  min-height: 231px ;
}
.popup-window h3,
.popup-window p {
  margin: 0;
  padding: 0;
  padding: 0 10px;
}
.templates a {
  text-decoration: none;
  color: var(--black);
}
.templates h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.popup-window {
  background-color: var(--gray);
}
.popup-window a:nth-child(3)  {
  color: var(--white);
}
.popup-button {
  background-color: var(--red);
}
.templates-navigation-list {
  list-style: none;
}
.templates-navigation a {
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.templates-navigation-list  li {
  background-color: var(--gray);
}
.active {
  border: 3px solid #DBDBDB;
}



















